<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
		<!--  setter injection reference type -->
    <bean id="rob" class="in.company.ref.Repository">
   			<property name="entity">
   				<value>AAB</value>
   				</property>
    </bean>
    
    <bean id="service" class="in.company.service.Service">
    	<property name="repo">
    		<ref bean="rob"></ref> <!--  It creates link between objects -->
    	</property>
    </bean>
</beans>